name: Super-Linter

on: 
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  super-lint:
    name: Lint code base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Print Massege
        run : echo "Hollo, I am running this after Push"
